*.ruff*
*.jupyter*
*scratch*
data/per_task
presentation/latex_build
*pycache*

/Quarto/**/*.html
/Quarto/**/*_files/
/Quarto/**/*.ipynb
/Quarto/**/*.quarto_ipynb
/Quarto/**/_freeze/
/.quarto/
**/*.quarto_ipynb
figs/figs 
data/
